@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root{
    --background-topicos: #1e1e1e;
    --barra-interativa: #D90F0F;
    --branco: #fff;
    --btn-ativo: #361717;
    --borda: #A01B1B;
    --black: #000;
    --fonte: "Anta", sans-serif;
    --cor-txt: #FF0000;
}

body{
    background-color: var(--black);
    color: var(--branco);
    font-family: var(--fonte);
}

.container-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.titulo{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo span{
    color: var(--cor-txt);
}